header {
  display: flex;
  position: fixed;
  flex-direction: row;
  width: 100%;
  background-color: aqua;
  top: 0;
  left: 0;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 768px) {
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 10px;
  margin: 2em 2em;
  height: 0;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  padding: 79px;
}
